
extends navigation.pug

block content
    h1.about-header Peter Ortiz
    
    img.about-img(src='images/peter.jpeg' alt='Peter')
    div.info-container
        div.info-box
            h1.info-header About Me
            p.info-content
                | Hey! I am Peter Ortiz. I am currently pursuing a bachelors of science in Computer
                | Science at the University of Minnesota. This Fall I am also working part-time as a
                | Software Development Intern at Code42, a cyber security company headquartered in
                | Minneapolis, MN.
            p.info-content
                | The most recent book I read is titled 
                em.info-emphasis 
                    | Cloud Cuckoo Land
                | . It is a story that follows the lives of adventures of Omeir, Anna, Zeno, Seymour, 
                | and Konstance over thousands of years. As the story unfolds, we begin to see how each 
                | of their stories are connected in one wy or another to an ancient text written by Antonio Diogene. 
                | His tale, written to his dying neice in an effort to alleviate her suffering is an
                | adventure unlike no other. The overarching themes of fate, love, and a longing for
                | what is beyond define this story and make it impossible to put down.
            p.info-content
                | What I found most interesting about this chapter is Ebbinghauss findings that offered
                | support for the frequency principle. Ebbinghaus found that 
                strong.info-bold
                    | continuing to study a list beyond the point of mastery, in his case 10 to 20
                    | further repetitions, the savings after 24 hours showed a substantial increase
                | . This practice, of continuing to practice after a perfect performance, has been
                |  dubbed Overlearning. Ebbinghaus goes further to demonstrate that Thomas Browns principle
                |  of frequency, stating that the frequency of pairings affects the strength of an
                |  association, is applicable to periods of overlearning as well as periods that show
                |  improvement during practice.
        div.info-box
            h1.info-header Hobbies
                ul
                    li Biking
                    li Traveling
                    li Cooking
                    li Being Outside
                    li Reading
                    li Watching Movies